In [1]:
import pandas as pd
import csv

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option('display.max_colwidth', None)

In [2]:
# Especificar os tipos exatos das colunas
dtype_mapping = {
    'DATA YYYY-MM-DD': 'string',
    'HORA UTC': 'string',
    'PRECIPITACÃO TOTAL HORÁRIO MM': 'float32',
    'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO HORARIA MB': 'float32',
    'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. AUT MB': 'float32',
    'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. AUT MB': 'float32',
    'RADIACAO GLOBAL KJ/M²': 'float32',
    'TEMPERATURA DO AR - BULBO SECO HORARIA °C': 'float32',
    'TEMPERATURA DO PONTO DE ORVALHO °C': 'float32',
    'TEMPERATURA MÁXIMA NA HORA ANT. AUT °C': 'float32',
    'TEMPERATURA MÍNIMA NA HORA ANT. AUT °C': 'float32',
    'TEMPERATURA ORVALHO MAX. NA HORA ANT. AUT °C': 'float32',
    'TEMPERATURA ORVALHO MIN. NA HORA ANT. AUT °C': 'float32',
    'UMIDADE REL. MAX. NA HORA ANT. AUT %': 'float32',
    'UMIDADE REL. MIN. NA HORA ANT. AUT %': 'float32',
    'UMIDADE RELATIVA DO AR HORARIA %': 'float32',
    'VENTO DIRECÃO HORARIA GR ° GR': 'float32',
    'VENTO RAJADA MAXIMA M/S': 'float32',
    'VENTO VELOCIDADE HORARIA M/S': 'float32',
    'REGIAO': 'string',
    'UF': 'string',
    'ESTACAO': 'string',
    'CODIGO (WMO)': 'string',
    'LATITUDE': 'float32',
    'LONGITUDE': 'float32',
    'ALTITUDE': 'float32',
    'DATA DE FUNDACAO': 'string',  # Pode ser convertido para datetime depois
    'YEAR': 'Int32'
}

unp_df = pd.read_csv(
    "all_data/csvs_processed/INMET_CO_GO_A013_ARAGARCAS_01-01-2021_A_31-12-2021.CSV", 
    #sep = ";",
    encoding='utf-8' , 
    encoding_errors='ignore'  # Ignora caracteres inválidos
)

# Caminho para o arquivo tratado
#file_path = 'all_data/csvs_concatenated/test_models/testa_modelo.csv.gz'

file_path = 'all_data/TESTES/alterado/INMET_CO_GO_A013_ARAGARCAS_01-01-2021_A_31-12-2021.csv.gz'

# Carregar com dtype especificado
df = pd.read_csv(file_path) #, dtype=dtype_mapping)

# Converter colunas de data (se necessário)
#df['DATA DE FUNDACAO'] = pd.to_datetime(df['DATA DE FUNDACAO'], errors='coerce', dayfirst=True)

#print(df.dtypes)

In [3]:
df.isnull().sum()

DATA                                                     0
HORA UTC                                                 0
PRECIPITACÃO TOTAL HORÁRIO MM                         6817
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO HORARIA MB    6814
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. AUT MB           6845
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. AUT MB          6845
RADIACAO GLOBAL KJ/M²                                 7546
TEMPERATURA DO AR - BULBO SECO HORARIA °C             6814
TEMPERATURA DO PONTO DE ORVALHO °C                    6814
TEMPERATURA MÁXIMA NA HORA ANT. AUT °C                6845
TEMPERATURA MÍNIMA NA HORA ANT. AUT °C                6845
TEMPERATURA ORVALHO MAX. NA HORA ANT. AUT °C          6845
TEMPERATURA ORVALHO MIN. NA HORA ANT. AUT °C          6845
UMIDADE REL. MAX. NA HORA ANT. AUT %                  6845
UMIDADE REL. MIN. NA HORA ANT. AUT %                  6845
UMIDADE RELATIVA DO AR HORARIA %                      6814
VENTO DIRECÃO HORARIA GR ° GR                         6819
VENTO RAJADA MAXIMA M/S                               6863
VENTO VELOCIDADE HORARIA M/S                          6819
REGIAO                                                   0
UF                                                       0
ESTACAO                                                  0
CODIGO (WMO)                                             0
LATITUDE                                                 0
LONGITUDE                                                0
ALTITUDE                                                 0
DATA DE FUNDACAO                                         0
YEAR                                                     0
dtype: int64

In [ ]:
unp_df.isnull().sum()

In [ ]:
unp_df.dtypes

In [ ]:
df.shape

In [4]:
df.head()

,DATA,HORA UTC,PRECIPITACÃO TOTAL HORÁRIO MM,PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO HORARIA MB,PRESSÃO ATMOSFERICA MAX.NA HORA ANT. AUT MB,PRESSÃO ATMOSFERICA MIN. NA HORA ANT. AUT MB,RADIACAO GLOBAL KJ/M²,TEMPERATURA DO AR - BULBO SECO HORARIA °C,TEMPERATURA DO PONTO DE ORVALHO °C,TEMPERATURA MÁXIMA NA HORA ANT. AUT °C,TEMPERATURA MÍNIMA NA HORA ANT. AUT °C,TEMPERATURA ORVALHO MAX. NA HORA ANT. AUT °C,TEMPERATURA ORVALHO MIN. NA HORA ANT. AUT °C,UMIDADE REL. MAX. NA HORA ANT. AUT %,UMIDADE REL. MIN. NA HORA ANT. AUT %,UMIDADE RELATIVA DO AR HORARIA %,VENTO DIRECÃO HORARIA GR ° GR,VENTO RAJADA MAXIMA M/S,VENTO VELOCIDADE HORARIA M/S,REGIAO,UF,ESTACAO,CODIGO (WMO),LATITUDE,LONGITUDE,ALTITUDE,DATA DE FUNDACAO,YEAR
0,2021-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO,GO,ARAGARCAS,A013,-15.902778,-52.245277,327.35,2021-01-01,2021
1,2021-01-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO,GO,ARAGARCAS,A013,-15.902778,-52.245277,327.35,2021-01-01,2021
2,2021-01-01,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO,GO,ARAGARCAS,A013,-15.902778,-52.245277,327.35,2021-01-01,2021
3,2021-01-01,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO,GO,ARAGARCAS,A013,-15.902778,-52.245277,327.35,2021-01-01,2021
4,2021-01-01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO,GO,ARAGARCAS,A013,-15.902778,-52.245277,327.35,2021-01-01,2021

In [ ]:
df.isnull().sum()

In [ ]:
unp_df.head(2)

In [ ]:
df_proc.shape

In [ ]:
df.isnull().sum()

In [ ]:
df_proc.isnull().sum()

In [ ]:
df_proc.dtypes

In [ ]:
import pandas as pd
import numpy as np

# Criar um DataFrame de exemplo
df = pd.DataFrame({
    'float_col': [1.1, 2.2, 3.3],
    'int_col': [1, 2, 3]
})

# Converter explicitamente
df['float_col'] = df['float_col'].astype('float32')
df['int_col'] = df['int_col'].astype('int32')

print("Tipos originais:")
print(df.dtypes)

# Salvar CSV
df.to_csv('test.csv', index=False)

# Ler CSV de volta
df_read = pd.read_csv('test.csv')

print("\nTipos após ler o CSV:")
print(df_read.dtypes)

# Agora vamos tentar salvar especificando o formato dos números
df.to_csv('test.csv', index=False, float_format='%.2f')
df_read = pd.read_csv('test.csv', dtype={'float_col': 'float32', 'int_col': 'int32'})

print("\nTipos após ler o CSV com dtype especificado:")
print(df_read.dtypes)